@charset "UTF-8";
.el-tabs--card{
	.el-tabs__header{
		background:#cfd6e0;
		color:#4583c0;
		.el-tabs__nav{
			border:none;
		}
	}
}
.el-tabs__item{
	@include height(true, 3.5rem, 3.5rem);
	margin-top:0.3rem;
	font-size:1.6rem;
	color:#4583c0;
	border-radius:0.5rem 0.5rem 0 0;
	&.is-active{
		background:#fff;
		color:#303133;
	}
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active.is-closable{
	padding:0 1.5rem;
}
.el-tabs--card>.el-tabs__header .el-tabs__item:first-child{
	margin-left:1.2rem;
}
.el-tabs--card>.el-tabs__header .el-tabs__item .el-icon-close{
	height: 1.8rem;
	line-height:1.8rem;
	font-size:1.4rem;
	// background:#4583c0;
	// color:#fff;
}
.el-table {
	padding:1.5rem;
	th{
		// text-align:center;
		padding-left:1.2rem;
		background:#eee;
	}
	.cell{
		// line-height: 3rem;
		padding:1rem 0 1rem 1.2rem;
	}
}
.el-dialog__header{
	padding:1rem 2rem;
	background:#4583c0;
	.el-dialog__title{
		font-size:1.7rem;
		color:#fff;
	}
	.el-dialog__headerbtn {
		top:1.2rem;
		.el-dialog__close{
			font-size:1.8rem;
			color:#fff;
		}
	}
}
.el-dialog__body{
	padding-top:10px;
}

.el-form--inline .el-form-item:last-child{
	display:block;
	text-align: center;
	
}

.dialogButtonBox{
	padding:0 0 1rem;
}

.el-table td, .el-table th{
	padding:6px 0;
}
 .el-table th{
	background:#ebeef5;
}
.variableListbox{
	.el-checkbox{
		width:150px;
	}
	.el-checkbox + .el-checkbox{
		margin-left:0;
	}
}
